@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Outfit:wght@300;400;500;600;700;800&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-display: "Outfit", sans-serif;
  
  --color-deli-dark: #2D3E50;
  --color-deli-orange: #F39200;
  --color-deli-teal: #40C1C7;
  --color-deli-red: #E35244;
}
